#D__ID .bg{
  background-image: url('');
  height:100%;
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.border-darkgreen{
  border: 3px solid #1a930b!important

}
.border-green{
  border: 3px solid #0fb165!important

}
#D__ID .body_color{
    background-color: rgba(173, 173, 173, 0.8);
    height:100%;
    overflow:hidden;
    z-index:2
    }

#D__ID .gap {
  background-color: rgb(143 188 143);
  padding: 8px;
}
  
#D__ID .header {
  max-width:800px;
  background-color: rgba(173, 173, 173, 0.8);
  color:rgb(0, 0, 0);
  border-radius: 5px;
  height:100px;
  text-align: center;
  font-size:x-large;
  font-family: 'Roboto Slab';
  margin-left:auto;
  margin-right:auto;
}
#D__ID .header_text {
padding:10px
}
#page_counter{
  font-size: smaller;
}
#D__ID .footer{
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: 'Nunito Sans';
  padding-top: 10px;
}
#D__ID .footer-logo{
  display:flex;
  display: grid;
  grid-template-columns: auto auto;

}
#D__ID .logo-l{
  text-align: -webkit-center;
}
#D__ID .logo-r{
  text-align: -webkit-center;
}
#D__ID .container {
  background-color: #f0f0f0;
  border-radius: 5px;
}
  #D__ID .mt-95 {
    max-width: 800px;
  }

  #D__ID .textleft {
    text-align: left;
  }

  #D__ID .textright {
    text-align: right;
  }

  #D__ID .textcenter {
    text-align: center;
  }
  #D__ID .fullwidth {
    width:93%;
  }
  #D__ID .halfwidth {
    width:50%;
  }
  #D__ID .threeqwidth {
    width:75%;
  }
  #D__ID .hide{
    display:none;
  }

  #D__ID .panel{
    font-family:'Roboto Slab';
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
  }
  #D__ID .nav_head{
    font-weight: bold;
  }
  #D__ID .nav_a{
    text-decoration: none;
    color: #000;
  }

  #D__ID .formgroup {
    padding: 3px 15px;
    display: block;
    /*border-bottom: 1px solid #E5EEF0;*/
    background-color: white;
    border-radius: 3px;
    margin-bottom: 4px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    color: #00263A;
    letter-spacing: 0;
    line-height: 28px;
  }

  #D__ID .formgroup:hover {
  }
  #D__ID .zoom:hover{
    background-color: #f0f0f0;
    border: 2px solid darkgrey;
    transition: transform 0.5s;
    transform: scale(1.03);
  }

  #D__ID .formcontrol:read-only {
    background-color: #eee
  }

  #D__ID .formcontrol {
    display: block;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: 'Nunito Sans';
    font-size: 16px;

  }
  #D__ID fieldset{
    border: 0px solid black; 

  }
  #D__ID .grid-container-7 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  #D__ID .grid-container-7 div {
    padding:5px;
  }

  #D__ID .grid-container-6 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  #D__ID .grid-container-6 div {
    padding:5px;
  }

  #D__ID .grid-container-input-6 {
    display: grid;
    grid-template-columns: 113px 113px 113px 113px 113px 113px;
  }

  #D__ID .grid-container-5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  #D__ID .grid-container-5 div {
    padding:5px;
  }

  #D__ID .grid-container-input-5 {
    display: grid;
    grid-template-columns: 136px 136px 136px 136px 136px;
  }

  #D__ID .grid-container-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  
  #D__ID .grid-container-input-4 {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
  }

  #D__ID .grid-container-3,
  #D__ID .grid-container-input-3 {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #D__ID .grid-container-3-fixed {
    display: grid;
    grid-template-columns: 400px 150px 150px;
  }
  #D__ID .grid-container-3-special {
    display: grid;
    grid-template-columns: 50px 600px 50px;
  }
  #D__ID .grid-container-2,
  #D__ID .grid-container-input-2 {
    display: grid;
    grid-template-columns: auto auto;
  }
  #D__ID .grid-container-2-75-25 {
    display: grid;
    grid-template-columns: 75% 25%;
  }
  #D__ID .grid-container-2-25-75 {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  #D__ID .grid-container-1 {
    display: grid;
    grid-template-columns: auto;
  }
  #D__ID input[type="radio"],
  #D__ID input[type="checkbox"] {
    opacity: 0;
    position: fixed;
  }

  #D__ID .rd_btn_wide {
    padding: 10px 10px;
    background-color: #ddd;
    border: thin solid #b1b1b1;
    border-radius: 10px;
    margin: 5px 10px;
    display: inline-block;
  }
  #D__ID .rd_btn {
    padding: 10px 10px;
    background-color: #ddd;
    border: thin solid #b1b1b1;
    border-radius: 10px;
    margin: 5px 0;
    display: inline-block;
    cursor: pointer;
  }
  #D__ID .rd_btn_two_rows {
    height:40px;
  }

  #D__ID .rd_btn_three_rows {
    height:60px;
  }

  #D__ID .rd_btn_four_rows {
    height:80px;
  }

  #D__ID .width_btn_250 {
    width: 250px;
  }

  #D__ID .width_88 {
    width: 88%;
  }
  #D__ID .width_80 {
    width: 80%;
  }
  #D__ID .width_65 {
    width: 65%;
  }
  #D__ID .width_btn_130 {
    width: 130px;
  }
  #D__ID .width_btn_full {
    width: 80%;
  }
  #D__ID .width_input_4 {
    width: 140px;
  }
  #D__ID .width_input_5 {
    width: 105px;
  }
  #D__ID .width_input_6 {
    width: 80px;
  }

  #D__ID input[type="radio"]:hover+label,
  #D__ID input[type="checkbox"]:hover+label {
    background-color: #ddffe7;
    cursor: pointer;
    color: #000000;
  }

  #D__ID input[type="radio"]:checked+label,
  #D__ID input[type="checkbox"]:checked+label {
    background-color: #98d7c2;
    cursor: default;
    color: #000000;
  }

  #D__ID .ticked {
    opacity: 0;
    font-size: 20px;
    font-weight: bold;
  }

  #D__ID input[type="checkbox"]:checked+label .ticked {
    opacity: 1;

  }

  
  #D__ID #title__ID {
    font-family: 'Roboto Slab';
    font-size: 24px;
    color: #167d7f;
    letter-spacing: 0;
    display: block;
    /*background-color: #00263A;*/
    padding: 15px;
  }

  #D__ID label {
    font-family: 'Nunito Sans';
    /*font-weight:600;*/
    font-size: 14px;
    color: #444645;
    line-height: 21px;
  }

  #D__ID .question {
    font-weight: bold;
    font-size: 16px;
  }

  #D__ID .main-label {
    font-weight: bold;
    font-size: 18px;
  }

  #D__ID .right {
    text-align: right;
  }

  #D__ID .submit_btn {
    width: 100px;
    padding: 10px 5px;
    color: white;
    background-color: #167d7f;
    border: thin solid black;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
  }

  #D__ID .submit_btn:hover {
    background-color: #29a0b1
  }

  #D__ID .submit_dual_btn{
    display:flex;
    justify-content: space-between;
  }

  #D__ID .mt-95 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  #D__ID .mt-400l {
    max-width: 400px;
    margin-right: auto;
    margin-top: 20px;
  }
  
  #D__ID .mt-800l {
    max-width: 800px;
    margin-right: auto;
    margin-top: 20px;
  }

  #D__ID .mt-800r {
    max-width: 800px;
    margin-left: auto;
    margin-top: 20px;
  }
  @media (min-width: 768px) {
    #D__ID fieldset.dynbreaks br {
      display: none;
    }
  }

  @media (max-width: 768px) {
    #D__ID .grid-container-7, 
    #D__ID .grid-container-6,
    #D__ID .grid-container-input-6,
    #D__ID .grid-container-5,
    #D__ID .grid-container-input-5,
    #D__ID .grid-container-4,
    #D__ID .grid-container-input-4,
    #D__ID .grid-container-3,
    #D__ID .grid-container-input-3,
    #D__ID .grid-container-5,
    #D__ID .grid-container-input-5,
    #D__ID .grid-container-3-fixed,
    #D__ID .grid-container-3-special {
      grid-template-columns: auto;
      text-align: -webkit-center;
      
    }

    #D__ID .textleft{
      text-align: center;
    }
    #D__ID .textright{
      text-align: center;
    }
    #D__ID .grid-container-2-75-25,
    #D__ID .grid-container-2 {
      grid-template-columns: auto;
      text-align: -webkit-center;
    }
  }

  /* Slider */
  #D__ID #vas_req__ID {
    opacity: 0;
  }

  #D__ID .grid-container-slider {
    display: grid;
    grid-template-columns: 100px 500px 100px;
  }

  @media (max-width: 768px) {
    #D__ID .grid-container-slider {
      grid-template-columns: auto;
    }
  }

  #D__ID .slidecontainer {
    width: 100%;
    /* Width of the outside container */
  }

  /* The slider itself */
  #D__ID .slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 10px;
    /* Specified height */
    background: #98d7c2;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    cursor: pointer;
  }

  /* Mouse-over effects */
  #D__ID .slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
  }
